<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Sticky Menu</title>
        <title lang="de-DE">Sticky Menü</title>

        <input-field type="bool">
            <name>stickyMenuIsActive</name>
            <label>active</label>
            <label lang="de-DE">aktiv</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="int">
            <name>positionStickyMenuIsActive</name>
            <label>position in pixels from which the sticky menu should be active</label>
            <label lang="de-DE">Position in Pixeln, ab der das Sticky Menü aktiv sein soll</label>
            <defaultValue>120</defaultValue>
            <placeholder>120</placeholder>
        </input-field>

        <input-field type="multi-select">
            <name>activeViewportsStickyMenu</name>
            <options>
                <option>
                    <id>lg</id>
                    <name>tablet landscape (LG)</name>
                    <name lang="de-DE">Tablet Querformat (LG)</name>
                </option>
                <option>
                    <id>xl</id>
                    <name>desktop (XL)</name>
                    <name lang="de-DE">Desktop (XL)</name>
                </option>
                <option>
                    <id>xxl</id>
                    <name>large desktop (XXL)</name>
                    <name lang="de-DE">großer Desktop (XXL)</name>
                </option>
            </options>
            <label>viewports in which the sticky menu should be active</label>
            <label lang="de-DE">Auflösungen, in denen das Sticky Menü aktiv sein soll</label>
        </input-field>

        <input-field type="int">
            <name>transitionDurationStickyMenu</name>
            <label>duration of the animation of the sticky menu in milliseconds</label>
            <label lang="de-DE">Dauer der Animation des Sticky Menüs in Millisekunden</label>
            <defaultValue>400</defaultValue>
            <placeholder>400</placeholder>
        </input-field>

        <input-field type="int">
            <name>zIndexStickyMenu</name>
            <label>z-index value of the sticky menu</label>
            <label lang="de-DE">z-index - Wert des Sticky Menüs</label>
            <defaultValue>1000</defaultValue>
            <placeholder>1000</placeholder>
        </input-field>

        <input-field type="colorpicker">
            <name>backgroundColorStickyMenu</name>
            <label>background color of the sticky menu</label>
            <label lang="de-DE">Hintergrundfarbe des Sticky Menüs</label>
            <css>sschreier-background-color-sticky-menu</css>
            <defaultValue>#ffffff</defaultValue>
            <placeholder>#ffffff</placeholder>
        </input-field>

        <input-field type="text">
            <name>boxShadowStickyMenu</name>
            <label>shadow of the sticky menu</label>
            <label lang="de-DE">Schatten des Sticky Menüs</label>
            <defaultValue>5px 0 5px rgba(0, 0, 0, 0.5)</defaultValue>
            <placeholder>5px 0 5px rgba(0, 0, 0, 0.5)</placeholder>
        </input-field>
    </card>

    <card>
        <title>Navigation menu item Home</title>
        <title lang="de-DE">Navigationsmenüpunkt Home</title>

        <input-field type="bool">
            <name>showNavigationMenuItemHome</name>
            <label>show</label>
            <label lang="de-DE">anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>replaceNavigationMenuItemHomeWithIcon</name>
            <label>replace with house icon</label>
            <label lang="de-DE">durch Haus - Icon ersetzt</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
</config>
