$sschreier-background-color-sticky-menu: #ffffff !default;
$sschreier-z-index-sticky-menu: 1000 !default;
$sschreier-box-shadow-sticky-menu: 5px 0 5px rgba(0, 0, 0, 0.5) !default;

.nav-main-sticky {
    background: $sschreier-background-color-sticky-menu;
    position: sticky;
    z-index: $sschreier-z-index-sticky-menu;
    width: 100%;
    top: 0;
    box-shadow: $sschreier-box-shadow-sticky-menu;
}
